body{
    background-image: url(../static/imagens/fundo2.png);
    border: 2px;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 10px;
}

/* img {
    max-width: 100%;
    height: auto;
}
 */

 .form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

 }

 a {
    text-decoration: none;
}

.topo{
    display: inline;   
}

.links{
    display: inline-block;
    padding-left: 500px;
}

.logo{
    margin-top: 15px;
}

.capa{
    display: flex;
    padding: 10px;
    justify-content: center;
}

h4 {
    text-align: center;
}

table {
    border: 2px solid;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

th, td {
    text-align: center;
    border: 1px solid;
    padding: 10px;
}

th {
    background-color: #b3b3d1;
}