<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES</title>
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <!-- Adicionar Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  
</head>

<body>
 <!-- topo -->
    <div class="topo">
        <div class="logo">
            <img src="../static/imagens/logo.png" alt="logo">
    </div>

    <div class="links">
        <a href="/"> Home </a> |
        <a href="/quemsomos">Quem somos</a> |
        <a href="/contato">Contato</a> |
        <a href="/users">Usuários</a>
    </div>


<!-- <div class="conteudo"> -->

    {% block conteudo %} 

    {% endblock %}
 
<!--</div>  -->

    <div>
        <h4>Todos os direitos reservados</h4> 
    </div>

</body>
</html>