    {% extends "base.html" %}

    {% block conteudo %}

    <div>
        <h2>Entre em contato</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, amet corporis mollitia error maiores minus recusandae, quasi consectetur aspernatur aut corrupti earum laborum rerum, a consequuntur sunt facere ab id?</p>
    </div>

    <hr>
    <div class="form">
        <form method="post" action="/contato">

            <label for="email">Seu e-mail:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="assunto">Assunto:</label><br>
            <input type="text" id="assunto" name="assunto"required><br> 
            <label for="descricao">Descrição:</label><br>
            <input type="text" id="descricao" name="descricao"required><br><br>
            <input type="submit" value="Submit">

        </form>
    </div>

    {% endblock %} 
