    {% extends "base.html" %}

    {% block conteudo %}

    <div>
        <h2>Quem somos</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, unde. Animi esse quo vel ad harum. Ut quis cupiditate aspernatur libero impedit incidunt eaque at? Consequuntur unde blanditiis sit exercitationem.</p>
    </div>

    <div>
    <h2>5 motivos para estudar</h2>
    <ol>
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
    </ol>
    </div>

    <hr>
    <div>
        <h2>Objetivos</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, id dolorem ab debitis quam repellendus deleniti quasi quia aut assumenda mollitia. Iusto laborum assumenda perspiciatis placeat, alias amet voluptate totam.</p>
    </div>
        
    {% endblock %} 
