<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES</title>
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <!-- Adicionar Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  
</head>
<body>

<div style="overflow-x:auto;">
    <div class="form">
        <form method="post" action="/contato">

            <label for="email">Seu e-mail:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="assunto">Assunto:</label><br>
            <input type="text" id="assunto" name="assunto"required><br> 
            <label for="descricao">Descrição:</label><br>
            <input type="text" id="descricao" name="descricao"required><br><br>
            <input type="submit" value="Submit">

        </form>
    </div>

    <table id="users" class="display">
        <thead>
            <tr>
                <th>E-mail</th>
                <th>Assunto</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>
                    <!-- Botão de editar -->
                    <a href="{{ url_for('edit_user', id=user[0]) }}" class="btn btn-primary">
                        <i class="bi bi-pencil-fill"></i> Editar
                    </a>
                    
                    <!-- Botão de excluir -->
                    <a href="{{ url_for('delete_user', id=user[0]) }}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir?');">
                        <i class="bi bi-trash-fill"></i> Excluir
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>